extends layout

block content
  include partials/navbar
  div.container
    div.page
      .row
        .column
          .question= poll.question
          each option in poll.options
            button(class="option-btn", id=option._id, onclick=`selectOption("${option._id}", "${poll.multi}")`)= option.text

          button(onclick=`submit("${poll.slug}")`) Vote

    if errorMessage
      .alert.warning=errorMessage
      a(href=`/poll/${poll.slug}/result`): b Go To Result Page

  script
    include scripts/poll.js

  






 

