mixin poll_properties({ createdAt, dupcheck, ipDupCheckTitle, captcha, multi })
  .poll-properties
    .left
      div.prop
        img(src=`${CDN}/icons/calendar.svg`, alt="Calendar")
        span= createdAt
      if captcha
        div.prop
          img(src=`${CDN}/icons/${dupcheck === '3' ? 'unlock' : 'lock'}.svg`, alt="Lock")
          span= ipDupCheckTitle
    .right
      div.prop
        span Spam prevention
        img(src=`${CDN}/icons/shield.svg`, alt="Shield")
      if multi
        div.prop
          span Multiple poll answer
          img(src=`${CDN}/icons/check-square.svg`, alt="Check")
