mixin share_button(id, url, title)
  .share
    a.button.share-button(onclick="openShare()")
      i(data-feather="share-2")
      span Share

    .share-poll-dropdown
      .social-link
        a(href=`https://twitter.com/intent/tweet?text=${title}&url=${encodeURIComponent(`${DOMAIN}/${url}`)}`, target="_blank", rel="noreferrer") Twitter
      .social-link
        a(href=`https://www.reddit.com/submit?title=${title}&url=${encodeURIComponent(`${DOMAIN}/${url}`)}`, target="_blank", rel="noreferrer") Reddit
      .social-link
        a(href=`https://t.me/share/url?url=${encodeURIComponent(`${DOMAIN}/${url}`)}&text=${title}`, target="_blank", rel="noreferrer") Telegram
      .social-link
        a(href=`https://wa.me/?text=${encodeURIComponent(`${title} ${DOMAIN}/${url}`)}`, target="_blank", rel="noreferrer") WhatsApp
      .copy-links
        div
          label(for="copyUrl") URL
          input(value=`${DOMAIN}/${url}`, type="text", id="copyUrl", class="copy-input", readonly)
        div
          label(for="embeded") Embeded
          input(value=`<iframe src="${DOMAIN}/${url}?embeded" style="width:680px;height:457px;border:0;">Loading...</iframe>`, type="text", id="embeded", class="copy-input", readonly)
          



