extends layout

block content
  .row.error-page
    .column
      a(href=DOMAIN)
        include partials/logo
      h1= error.status
      h2= errorTitle
      p= message
      a(href=`${DOMAIN}` className="button is-primary") GO TO HOME
      if !!error
          pre #{error.stack}
      