doctype html
html(lang="en")
  head
    title=TITLE
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(property="og:site_name" content="Pollermo")
    meta(property="og:type" content="website")
    meta(property="og:url" content=CURRENT_URL)
    meta(property="og:description" content=DESCRIPTION)
    meta(property="og:image" content=PAGE_IMAGE_URL)
    meta(name="title", content=TITLE)
    meta(name="type", content="website")
    meta(name="url", content=CURRENT_URL)
    meta(name="description", content=DESCRIPTION)
    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:site" content="@PollermoCom")
    meta(name="twitter:creator" content="@PollermoCom")
    meta(name="twitter:title" content=TITLE)
    meta(name="twitter:description" content=DESCRIPTION)
    meta(name="twitter:image" content=PAGE_IMAGE_URL)

    link(rel="favicon" href="favicon.ico")
    link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap')
    link(rel='stylesheet', href=`${CDN}/dist/index.css?v=${VERSION}`)
  body
    block content
  
    script(src=`${CDN}/dist/index.js?v=${VERSION}`)
    script(src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js", data-ad-client="ca-pub-3463167120311286", async)
