extends layout

block content
  if !isEmbeded
    include partials/navbar
  include mixins/poll_properties
  include mixins/share_button

  div(class=isEmbeded ? 'embeded' : 'container')
    div.page
      +poll_properties(poll)
      .row
        .column
          .question= poll.question
          each option in poll.options
            label.vote-option
              input(type=`${poll.multi ? 'checkbox' : 'radio'}`, name="options", value=option._id)
              span.label-body= option.text
          .poll-buttons
            +share_button(poll._id, poll.url, poll.question)
            a(class="button result-button middle", href=`${DOMAIN}/${poll._id}/result`) Result
            button(class="button-primary vote-button", onclick=`submit("${poll._id}", ${poll.captcha})`, id="vote-button") Vote

    if errorMessage
      .row
        .column
          .alert.warning=errorMessage
          a(href=`/${poll._id}/result`): b Go To Result Page

  if poll.captcha
    script(type="text/javascript", src=`https://www.google.com/recaptcha/api.js?render=${CAPTCHA_SITE_KEY}`)
  script
    include scripts/poll.js
    include scripts/common.js

  






 

