extends layout

block content
  include partials/navbar
  include mixins/ip_dup_status

  div.container
    div.page
      .row
        .column
          .question= poll.question
          each option in poll.options
            button(class="option-btn", id=option._id, onclick=`selectOption("${option._id}", "${poll.multi}")`)= option.text

          .actions
            +ip_dup_status(poll)
            button(onclick=`submit("${poll.slug}", ${poll.captcha})`) Vote

    if errorMessage
      .alert.warning=errorMessage
      a(href=`/poll/${poll.slug}/result`): b Go To Result Page

    
  script(src="https://www.google.com/recaptcha/api.js?render=6Le3ntgZAAAAAKtD4n4r5hLCodacIqfa5ZIvJ8dg")
  script
    include scripts/poll.js

  






 

