extends layout

block content
  if !isEmbeded
    include partials/navbar
  include mixins/poll_properties
  include mixins/share_button

  div(class=isEmbeded ? 'embeded' : 'container')
    div.page
      +poll_properties(poll)
      .row
        .column
          .question= poll.question
          each option in poll.options
            button(class="option-btn", id=option._id, onclick=`selectOption("${option._id}", "${poll.multi}")`)= option.text

          .poll-buttons
            +share_button(poll.slug, poll.url, poll.question)
            a(class="button", href=`${DOMAIN}/poll/${poll.slug}/result`) Result
            button(class="button-primary vote-button", onclick=`submit("${poll.slug}", ${poll.captcha})`) Vote

    if errorMessage
      .row
        .column
          .alert.warning=errorMessage
          a(href=`/poll/${poll.slug}/result`): b Go To Result Page

  script
    include scripts/poll.js
    include scripts/common.js

  






 

