extends layout

block content
  include partials/navbar
  include mixins/poll_properties

  div.container
    div.page
      .row
        .column
          .question= poll.question

          each option in poll.options
            div(class="option-result-wrapper", id=option._id)
              .option
                span= option.text
                span.percent= `%${option.percent}`
              if option.voteCount > 0
                .result-bar(style=`width: ${option.percent}%`)
              .count= `${option.voteCount} Vote${option.voteCount < 2 ? '' : 's'}`

          .actions
            +poll_properties(poll)
            a(class="button", href=`${DOMAIN}/poll/${poll.slug}`) Vote



  






 

