extends layout

block content
  if !isEmbeded
    include partials/navbar
  include mixins/poll_properties
  include mixins/share_button

  div(class=isEmbeded ? 'embeded' : 'container')
    div.page
      +poll_properties(poll)
      .row
        .column(id="poll", data-slug=`${poll.slug}`)
          .question= poll.question

          each option in poll.options
            div(class="option-result-wrapper", id=option._id)
              .option
                span= option.text
                span.percent= `%${option.percent}`
              .result-bar(style=`width: ${option.percent}%`)
              .count= `${option.voteCount} Vote${option.voteCount < 2 ? '' : 's'}`

          .actions
            +share_button(poll.slug, poll.resultUrl, poll.question)
            a(class="button", href=`${DOMAIN}/poll/${poll.slug}`) Vote

  script
    include scripts/common.js
    include scripts/result.js

  






 

